<header id="site-header">
  <h1>Color Splash</h1>
</header>

<section id="intro">
  <p>
    There are times when you need a code snippet in your page. You can use tons of available options
    but I think that there is no better option than Pygments. The problem is that you have to have the Python
    installed in order to use it. I find it kind of cumbersome, therefore I have created this online tool
    for everyone to use. Enjoy!
  </p>
</section>

<hr>

<div id="playground">
  <form action="/stylesheets/generate" method="POST" id="style-form">
    <p><label for="theme">Select a theme</label></p>
    <p>
    <select name="theme" id="theme">

    <% @styles.each do |style| %>
      <option value="<%= style %>"><%= style.capitalize %></option>
    <% end %>

    </select>
    </p>
    <p><button type="button" onclick="generateStylesheet(); return false;" id="submit">Generate</button></p>
  </form> <!--/pygmentize-form-->

  <p class="label">Freshly baked CSS</p>
  <div id="output-text">
    <div>Your code will be available here.</div>
  </div> <!--/output-text-container-->
</div> <!--/playground-->

<hr>

<footer>
  <p>
    Created in 2013 by <a href="http://dzerviniks.lv" title="Aigars Dzerviniks">Aigars Dzerviniks</a>.
    No copyright, just use it!
  </p>
</footer>