* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alegreya SC', serif;
  line-height: 1.5;
}

p {
  font-size: 1.3rem;
}

label {
  font-size: 1.1rem;
}

#container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  background: url(/images/splash.png) no-repeat;
}

#site-header {
  padding-top: 320px;
  text-align: center;
  margin-bottom: 50px;
}

#site-header h1 {
  font-size: 4.5rem;
  font-family: 'Alegreya SC', serif;
}

#intro {
  text-align: center;
  margin-bottom: 50px;
}

#main-navigation {
  margin-bottom: 80px;
}

#input-text {
  height: 300px;
  font-family: "Courier New", Courier, monospace;
}

#output-text {
  border: 1px solid #e7e7e7;
  height: 470px;
  overflow: auto;
}

#placeholder-field {
  margin-top: 50px;
}

footer {
  text-align: center;
}

footer p {
  font-size: 1rem;
}

@media (max-width: 1187px) {
  #container {
    background-size: 1087px auto;
  }
}

@media (max-width: 1143px) {
  #container {
    background-size: auto 240px;
  }

  #site-header {
    padding-top: 200px;
  }
}

@media (max-width: 475px) {
  #site-header h1 {
    font-size: 3rem;
  }

  #site-header {
    padding-top: 250px;
  }
}
