* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.5;
}

p {
  font-size: 1.3rem;
}

label {
  font-size: 1.1rem;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  background: url(/images/splash.png) top left no-repeat;
}

#site-header {
  padding-top: 320px;
  text-align: center;
  margin-bottom: 50px;
}

#site-header h1 {
  font-size: 4.5rem;
}

#intro {
  text-align: center;
  margin-bottom: 50px;
}

#main-navigation {
  margin-bottom: 80px;
}

#input-text {
  height: 300px;
  font-family: "Courier New", Courier, monospace;
}

#output-text {
  border: 1px solid #e7e7e7;
  height: 470px;
  overflow: auto;
}

#placeholder-field {
  margin-top: 50px;
}

footer {
  text-align: center;
}

footer p {
  font-size: 1rem;
}
