* {
  margin:  0;
  padding: 0;

  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  background-color: #dcddd8;
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol,
blockquote {
  margin-bottom: 20px;
}

a {
  color: #D74B4B;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

#container {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

#main { text-align: center; }

#main h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}

.tagline { font-size: 1.2rem; }

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: white url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-style select {
  padding: 10px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

#output-text {
  border: 1px solid #333;
  min-height: 493px;
  word-wrap: break-word;
}

footer {
  margin: 30px 0;
  font-size: .9rem;
  text-align: center;
}

@media screen and (max-width: 482px) {
  #ribbon { display: none; }
}