* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #DCDDD8;
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li, blockquote {
  margin-bottom: 20px;
}

a {
  color: #D74B4B;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

#container {
  max-width: 800px;
  margin: 0 auto;
}

#main {
  text-align: center;
}

#main h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}

.tagline {
  font-size: 1.2rem;
}

#main nav {
  background-color: #354B5E;
  min-height: 50px;
  font-size: 1.4rem;
  margin-bottom: 50px;
  margin-top: 30px;
}

#main nav a {
  display: inline-block;
  height: 50px;
  padding: 10px 10px 0;
  margin: 0 10px;
  color: white;
}

#main nav a:hover {
  background-color: #475F77;
}

.preview {
  border: 1px solid #666666;
  padding: 10px 10px 0 10px;
  background-color: white;
}

.project {
  margin-bottom: 50px;
}

.project header {
  margin-top: 20px;
  font-family: 'Just Me Again Down Here', cursive;
}

.project header h2 {
  margin: 0 20px;
}

.project header p {
  margin: 0 40px 20px;
  font-size: 1.2rem;
}
