<%= erb :"color_splash/header" %>

<div id="playground" class="row">
  <div class="large-6 columns">
    <form action="/color-splash/html/generate" method="POST" id="pygmentize-form">
      <div class="row">
        <label for="lexer">Select a language</label>
        <select name="lexer" id="lexer">

        <% @lexer_options.each do |value, text| %>
          <option value="<%= value %>"><%= text %></option>
        <% end %>

        </select>
      </div>

      <div class="row">
        <label for="linenos">Add line numbers</label>
        <input type="checkbox" value="1" id="linenos">
      </div>

      <div class="row">
        <label for="input-text">Enter your code</label>
        <p><textarea id="input-text" name="input-text" rows="20"></textarea></p>

        <button type="button" id="pygmentize-submit">Generate</button>
      </div>
    </form> <!--/pygmentize-form-->
  </div>
  <div class="large-6 columns">
    <p class="label secondary">Freshly baked HTML</p>
    <div id="output-text">
      <div style="text-align: center;" id="placeholder-field">Your code will be available here.</div>
    </div> <!--/output-text-container-->
  </div>
</div> <!--/playground-->

<hr>

<footer>
  <p>
    Created in 2013 by <a href="http://dzerviniks.lv" title="Aigars Dzerviniks">Aigars Dzerviniks</a>.
    No copyright, just use it!
  </p>
</footer>
